<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File details</title>
  </head>
  <body>
    <p>
      Title: <%= file.title%>
      <br />
      Size: <%= file.size%>
      <br />
      Uploaded At: <%= file.uploadedAt%>
      <br />
      Folder: <%= file.folder.title%>
    </p>
    <br />
    <a href="/files/update/<%= file.id %>">Update file title</a>
    <br />
    <a href="<%= file.url %>" download="<%= file.title %>">Download</a>
    <br />
    <br />
    <form action="/files/delete/<%= file.id %>" method="POST">
      <button type="submit">Delete file</button>
    </form>
  </body>
</html>
